#build
build/**

#devel
devel/**

#aws
aws-robomaker-small-warehouse-world/

#vscode
.vscode/**
./idea/**
./history/**
./cache/**

#windows
.DS_Store

# agv
src/agv/agv_description/meshes/OTAv07_meshes/OTA-v0.7.stl